# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# MPLAB X build output
**/build/
**/dist/
**/debug/
**/disassembly/
**/.generated_files/
**/.ca/

# MPLAB X machine-specific and generated project files
**/nbproject/private/
**/nbproject/Makefile-*
**/nbproject/Package-*.bash

# Compiler intermediate and output files
*.i
*.p1
*.d
*.pre
*.lst
*.sym
*.cmf
*.hxl
*.sdb
*.rlf
*.obj
*.elf
*.map
*.hex

# Editor / OS clutter
*.bak
*~
Thumbs.db
